html, body {
  height: 100%;
}

#root{
  height: 100%;
}

#app{
  height: 100%;
}

#header{
  height: 100%;
}

body {
  background-color: lightgrey;
}

.greeting-hero{
  margin: auto;
  height: 425px;
  width: 1240px;
  background-image: image-url("schero2.jpg");
  background-position: right 35% bottom 80%;
  /* background-repeat: no-repeat; */
  // background-position: center; 
  background-size: 100%;
  font-size: 20px;
  border-top: solid;
  border-color: rgb(255, 84, 10);
  border-width: 4px;
}

.hero-slogan{
  font-family: 'Quicksand', sans-serif;
  font-size: 35px; 
  color: white; 
  position: relative;
  top: 25%;
  text-align: center
}

.demo-button{
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(255, 84, 10);
  background-color: rgb(255, 84, 10);
  // padding-left: 10px;
  // padding-right: 10px;
  padding: 10px;
}

nav {
  margin-top: 12px;
  height: 50px;
  /* width: 100%; */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px; 
  color: white; 
  display: flex;
  // padding: 5px;
  justify-content: space-between;
  align-items: center;
}

nav .nav-buttonbox {
}

nav .logo {
  height: 100%;
  width: auto;

}

nav .nav-loggedin-logo{
  margin-left: 25px;
  height: 100%;
  width: auto;
}

nav .nav-buttonbox-left-splash {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: #ebeff4;
  font-style: italic;
  letter-spacing: 2px;
  margin-left: 15px;
  // font-weight: 600;
}

nav .nav-buttonbox-left {
  height: 100%;
  width: auto;
  display: flex;
  // align-items: center;
  letter-spacing: 2px;
  // font-weight: 600;
}

.nav-buttonbox-right{
  height: 70%;
  display: flex;
  margin-top: 10px;
  vertical-align: middle;
  // align-items: center;
  // line-height: 22px;
}

nav .nav-signup{
  // padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 84, 10);
  background-color: rgb(255, 84, 10);
  margin-right: 20px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

nav .nav-login{
  // height: 50%;
  // padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(232, 234, 237, 0.8);
  z-index: 10;
}

.modal-child {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-box{
  height: 570px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 10px;
  padding: 40px;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Quicksand', sans-serif;
}

// .login-text{
//   width: 100%;
//   // margin: 10px;
//   // padding: 10px;
//   // display: flex;
//   // border-radius: 5px;
//   // border: 1px solid darkgrey;
//   // justify-content: center;
// }

.login-input{
  width: 100%;
  // margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  border: 1px solid darkgrey;
  justify-content: center;
  display: inline-block;
  box-sizing: border-box;
}

.session-submit{
  width: 100%;
  // margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 84, 10);
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.nav-bar{
  height: 50px;
  width: 100%;
  background-color:#3e4042;
}

.nav-loggedin{
  margin: auto;
  height: 50px;
  width: 1240px;
  background-color:#3e4042;
  border-left: solid;
  border-width: 1px;
  border-color: black;
}

// .nav-loggedin-middle{
//   width: 1240px;
// }

.nav-buttonbox-right-loggedin{
  height: 100%;
  display: flex;
}

nav .nav-home {
  height: 100%;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
}

.nav-logout {
  // margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid;
  border-right: solid;
  border-color: black;
  border-width: 1px;
}

.nav-greetingmessage{
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid;
  border-color: black;
  border-width: 1px;
}

.modal-message{
  font-family: 'Quicksand', sans-serif;
  font-size: 35px; 
  color: black; 
  position: relative;
  top: -10%;
  text-align: center;
}

.modal-errors{
  margin-top: 20px;
  text-align: center;
}