html, body {
  height: 100%;
}

#root{
  height: 100%;
}

#app{
  height: 100%;
}

#header{
  height: 100%;
}

body {
  background-color: #f2f2f2;
}

.greeting-hero{
  margin: auto;
  height: 425px;
  width: 1240px;
  background-image: image-url("schero2.jpg");
  background-position: right 35% bottom 80%;
  /* background-repeat: no-repeat; */
  // background-position: center; 
  background-size: 100%;
  font-size: 20px;
  border-top: solid;
  border-color: rgb(255, 84, 10);
  border-width: 4px;
}

.hero-slogan{
  font-family: 'Quicksand', sans-serif;
  font-size: 35px; 
  color: white; 
  position: relative;
  top: 25%;
  text-align: center
}

.demo-button{
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(255, 84, 10);
  background-color: rgb(255, 84, 10);
  // padding-left: 10px;
  // padding-right: 10px;
  padding: 10px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(232, 234, 237, 0.8);
  z-index: 10;
}

.modal-child {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-box{
  height: 570px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 10px;
  padding: 40px;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Quicksand', sans-serif;
}

// .login-text{
//   width: 100%;
//   // margin: 10px;
//   // padding: 10px;
//   // display: flex;
//   // border-radius: 5px;
//   // border: 1px solid darkgrey;
//   // justify-content: center;
// }

.login-input{
  width: 100%;
  // margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  border: 1px solid darkgrey;
  justify-content: center;
  display: inline-block;
  box-sizing: border-box;
}

.session-submit{
  width: 100%;
  // margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 84, 10);
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.modal-message{
  font-family: 'Quicksand', sans-serif;
  font-size: 35px; 
  color: black; 
  position: relative;
  top: -10%;
  text-align: center;
}

.modal-errors{
  margin-top: 20px;
  text-align: center;
}
