body {
  background-color: white;
}

.greeting-hero{
  margin: auto;
  height: 425px;
  width: 1240px;
  background-image: image-url("dj.jpg");
  background-position: right 35% bottom 80%;
  /* background-repeat: no-repeat; */
  // background-position: center; 
  background-size: 100%;
  font-size: 20px;
}

/* header{
  height: 100px;
  background-color: saddle-brown;
} */

nav {
  height: 50px;
  /* width: 100%; */
  font-family: 'Quicksand', sans-serif;
  font-size: 16px; 
  color: white; 
  display: flex;
  // padding: 5px;
  justify-content: space-between;
  align-items: center;
}

nav .nav-buttonbox {
}

nav .logo {
  height: 100%;
  width: auto;
}


nav .nav-buttonbox-left-splash {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: #ebeff4;
  font-style: italic;
  letter-spacing: 2px;
  // font-weight: 600;
}

nav .nav-buttonbox-left {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  // font-weight: 600;
}

nav .nav-signup{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid orange;
  background-color: orange;
  margin-right: 5px;
}

nav .nav-login{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(232, 234, 237, 0.8);
  z-index: 10;
}

.modal-child {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form-box{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 40px;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.login-input{
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  border: 1px solid darkgrey;
  justify-content: center;
}

.session-submit{
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  color: white;
  background-color: orange;
  text-align: center;
  display: inline-block;
}

.nav-loggedin{
  height: 50px;
  width: 100%;
  background-color:#3e4042;
}

.nav-buttonbox-right{
  height: 100%;
  display: flex;
  margin-top: 10px;
}

.nav-buttonbox-right-loggedin{
  height: 100%;
  display: flex;
}

nav .nav-home {
  height: 100%;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
}

.nav-logout {
  // margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid;
  border-color: black;
  border-width: 1px;
}

.nav-greetingmessage{
  padding-left: 20px;
  padding-right: 20px;
  border-left: solid;
  border-color: black;
  border-width: 1px;
}

// .modal-exit{
//    position:absolute;
//    top:0;
//    right:0;
//    color: blue;
// }