.user-recordings-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
}

.recording-item {
    width: 150px;
    height: 100%;
    overflow-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; 
}

.recording-item:hover .recording-item-play-button{
    opacity: .9;
}

.recording-item-img {
    position: relative;
    /* background-image: url("play_button.png"); */
    /* background-size: contain;
    background-repeat: no-repeat;  */
    /* height: 135px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px; */
    /* box-sizing: border-box; */
}

.recording-art{
    
}

.recording-item-play-button{
    opacity: 0;
    position: absolute; 
    bottom: 25%;
    left: 25%;
    /* opacity: 0; */
    /* position: relative; */
    height: 50%;
    width: 50%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25%;  */
}

.recording-item-title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.recording-item-user {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;    
    color: grey;
    font-size: 12px;
}