.recording-create{
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    background-color: white;
    width: 1240px;
    margin: auto;
    display: flex;
}

.recording-create-form{
    width: 100%;
}

.recording-create-audio-file{
    padding-top: 17px;
    position: relative;
    background-color: rgb(255, 84, 10);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.recording-create-audio-file-input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.recording-create-artandtitle{
    margin-top: 20px;
    width: 70%;
    height: 500px;
    position: relative;
    border: solid;
    border-color: lightgray;
    /* background-color: red; */
    border-width: 1px;
    margin: auto;
}

.recording-create-img-file{
    height: 260px;
    width: 260px;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    position: absolute;
    top: 5%;
    left: 5%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.recording-create-img-input{
    opacity: 0;
    width: 100%;
    height: 100%;
    /* position: absolute;
    bottom: 5%;
    margin: auto; */
}

.submit-recording-form{
    width: 60px;
    height: 30px;
    position: absolute;
    color: white;
    border-radius: 5px;
    bottom: 5%;
    right: 5%;
    text-align: center;
    background-color: rgb(255, 84, 10);
}

.recording-title{
    position: absolute;
    right: 20%;
    top: 20%;
    position: flex;
}

.recording-title-input{
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    margin-left: 5px;
    border-radius: 5px;
}

.recording-description{
    position: absolute;
    right: 20%;
    top: 30%;
    position: flex;
}

.recording-description-input{
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    margin-left: 5px;
    border-radius: 5px;
}

.update-image-label{
    border: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: auto;
    font-size: 14px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}