.recording-show-section{
    font-family: 'Quicksand', sans-serif;
    width: 1240px;
    height: 380px;
    margin: auto;
}

.recording-show-banner{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.recording-hero{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    font-size: 24px;
    margin: auto;
    height: 240px;
    position: absolute;
    background-size: auto;
    filter: saturate(10000%) blur(200px)
}

.recording-audioandtitle{
    width: 100%;
    height: 100%;
}

.recording-hero-artist{
    position: absolute;
    padding: 5px;
    top: 11%;
    left: 20%;
    background-color: black;
    color: lightgray;
    filter: blur(0px);
    left: 10%;
    font-size: 14px;
}

.recording-hero-name{
    position: absolute;
    padding: 10px;
    top: 22%;
    left: 20%;
    background-color: black;
    color: white;
    filter: blur(0px);
    left: 10%;
    font-size: 22px;
}

.recording-art-show{
    width: 340px;
    height: 340px;
    position: absolute;
    left: 475%;
    margin: 10px;
}

.recording-info{
    position: relative;
    width: 1240px;
    height: 100%;
    margin: auto;
    background-color: white;
}

.recording-info-portrait{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: absolute;
    left: 1.5%;
    top: 5%;
}

.recording-info-description{
    position: absolute;
    top: 5%;
    left: 15%;
}

