.recording-show-section{
    font-family: 'Quicksand', sans-serif;
    width: 1240px;
    height: 380px;
    margin: auto;
}

.recording-show-banner{
    /* overflow: hidden; */
    position: relative;
}

.recording-hero{
    background-color: white;
    text-align: center;
    font-size: 24px;
    margin: auto;
    height: 240px;
    position: absolute;
    background-size: auto;
    filter: saturate(10000%) blur(200px)
}

.recording-hero-name{
    position: absolute;
    padding: 10px;
    top: 11%;
    left: 20%;
    background-color: #3e4042;
    color: white;
    filter: blur(0px);
}

.recording-art-show{
    width: 340px;
    height: 340px;
    position: absolute;
    /* position: absolute; */
    /* right: 10%; */
}